HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.DS_Store
/src/**/application*.yml
/src/main/generated/
/src/test/resources/**
/src/main/resources/**
!/src/main/resources/logback-spring.xml

!/src/main/resources/data.sql
!/src/test/resources/data-test.sql
!/src/test/resources/cast-test.sql
!/src/test/resources/category-test.sql
!/src/test/resources/country-test.sql
!/src/test/resources/director-test.sql
!/src/test/resources/genre-test.sql
!/src/test/resources/platform-test.sql
!/src/test/resources/genre-test.sql
!/src/main/resources/batch.sql
!/src/test/resources/batch-test.sql

!/src/test/resources/application-test.yml
!/src/test/resources/keys/
!/src/test/resources/keys/test_private.pem
!/src/test/resources/keys/test_public.pem

*.pem
!/src/test/resources/keys/test_*.pem

/logs/